<!DOCTYPE html>
<html lang="en">
<head>
        <title>LPSE Badan Informasi Geospasial  - Informasi Tender </title>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1024">
        <link rel="Shortcut Icon" href="/eproc4/public/images/4.3.png" type="image/x-icon" />
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha256-+IZRbz1B6ee9mUx/ejmonK+ulIP5A5bLDd6v6NHqXnI=" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"  />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap4-dialog@4.1.0/dist/css/bootstrap-dialog.min.css" integrity="sha384-LfG7Aw5ifxofZdSTEkMO6XGBm+g6j2bj/fdo9Kqn6MioZArsSmez/+Nq0hUgq74y" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.13.5/css/dataTables.bootstrap4.min.css" integrity="sha256-ge+DvQiwl97zZkI7C/sMte2fyxtC7TjyyJmAWXAbi4U=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables.net-buttons-bs4@1.6.5/css/buttons.bootstrap4.min.css" integrity="sha384-398XeaYNY5EFTKfmXePptGA30MTOoq30GevEaXBFbmsVJHQY8aZDIM8KONfp0rge" crossorigin="anonymous">
        <link rel="stylesheet" href="/eproc4/public/css/application.css"   />
        
     <style >
      body {
        padding-top: 50px;
        padding-bottom: 40px;
      }
      #border-popup-wrapper {
          margin: 10px;
      }
      #main{
          min-height: 400px;
          clear: both;
      }
      #footer {
          position: fixed;
          bottom: 0;
          width: 100%;
          z-index: 999;
      }
    </style>
</head>
<body class="">
<div class="navbar navbar-primary fixed-top">
   <div class="container-fluid">
        <div class="navbar-header">Informasi Tender</div>
 		<div class="navbar-nav ml-auto" style="margin-right: 10px;">
 			<a href="#" onClick="return closeWindow('quit');"><i class="fa fa-times fa-lg white"> </i></a>
 		</div>
 	</div>
</div>
<div id="border-popup-wrapper">
    <div id="main">
        
    <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="/eproc4/lelang/2095399/pengumumanlelang">Pengumuman</a>
    </li>
<li class="nav-item">
    <a class="nav-link " href="/eproc4/lelang/2095399/peserta">Peserta</a>
</li>
</ul>

<div class="content" style="margin-bottom: 42px">
<table class="table table-sm table-bordered">
    <tr>
        <th class="bgwarning" width="200">Kode Tender</th>
        <td colspan="3" ><strong>2095399</strong></td>
    </tr>
    <tr>
        <th class="bgwarning">Nama Tender</th>
        <td colspan="3" >
            <strong>Konsultan Audit Gedung</strong> 
 <a class="badge badge-info"></a>
        </td>
    </tr>
    <tr>
        <th class="bgwarning">Rencana Umum Pengadaan</th>
        <td colspan="3">
            
<table class="table table-sm" style="margin-bottom:0.1rem">
    <tr>
        <th width="120" class="text-center">Kode RUP</th>
        <th>Nama Paket</th>
        <th width="200">Sumber Dana</th>
    </tr>
    <tr>
        <td class="text-center">45578586</td>
        <td>Konsultan Audit Gedung</td>
        <td>APBN</td>
    </tr>
</table>

        </td>
    </tr>
    <tr>
        <th class="bgwarning">Uraian Singkat Pekerjaan</th>
        <td colspan="3" >
            <a href="/eproc4/dl/237d1c1a639c0613c72a4c72d91dadccd1a1a7c2e53ad725cf7c2937f40b6e8f0f2dc56e813bada462667f168f0096e31ab53581ec120ef07c091d6e910d7ba6627f43956e8cd979fa2af11ccba97ac896833bcebd7f19f983b831bae6d82b05" title="310 KB"><i class="fa fa-download"></i>&nbsp;Uraian Singkat Pekerjaan Konsultan Audit Gedung.pdf</a>
        </td>
    </tr>
      <tr>
        <th class="bgwarning">Tanggal Pembuatan</th>
        <td colspan="3" >28 Agustus 2024</td>
    </tr>
    <tr>
        <th class="bgwarning">Tahap Tender Saat Ini</th>
        <td colspan="3" ><a href="/eproc4/lelang/2095399/jadwal" target="_blank">Pengumuman Prakualifikasi [...]</a></td>
    </tr>
    <tr>
        <th class="bgwarning">K/L/PD/Instansi Lainnya</th>
        <td colspan="3" > Badan Informasi Geospasial </td>
    </tr>
    <tr>
        <th class="bgwarning">Satuan Kerja</th>
        <td colspan="3" >SEKRETARIAT UTAMA BADAN INFORMASI GEOSPASIAL</td>
    </tr>
    <tr>
        <th class="bgwarning">Jenis Pengadaan</th>
        <td colspan="3" >Jasa Konsultansi Badan Usaha Konstruksi</td>
    </tr>
    <tr>
        <th class="bgwarning">Metode Pengadaan</th>
        <td colspan="3" >Seleksi - Prakualifikasi Dua File - Kualitas dan Biaya</td>
    </tr>
    <tr hidden>
        <th class="bgwarning">Khusus Orang Asli Papua (OAP)</th>
        <td colspan="3"> Tidak </td>
    </tr>
    <tr>
        <th class="bgwarning">Reverse Auction?</th>
        <td colspan="3"> Tender ini tidak menggunakan Reverse Auction </td>
    </tr>
    <tr>
        <th class="bgwarning">Tahun Anggaran</th>
        <td colspan="3"> APBN 2024 &nbsp;&nbsp;&nbsp; </td>
    </tr>
    <tr>
        <th class="bgwarning">Nilai Pagu Paket</th>
        <td width="200">Rp. 380.000.000,00</td>
        <th class="bgwarning" width="200">Nilai HPS Paket</th>
        <td>Rp. 330.465.700,00</td>
    </tr>
    <tr>
        <th class="bgwarning">Jenis Kontrak</th>
        <td colspan="3"> Lumsum </td>
    </tr>
    <tr>
        <th class="bgwarning">Lokasi Pekerjaan</th>
        <td colspan="3"><ul>
<li>Cibinong, Kab. Bogor - Bogor (Kab.)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th class="bgwarning">Bobot Teknis</th>
        <td colspan="3">80.0</td>
    </tr>
    <tr>
        <th class="bgwarning">Bobot Biaya</th>
        <td colspan="3">20.0</td>
    </tr>
    <tr>
        <th class="bgwarning">Syarat Kualifikasi</th>
        <td colspan="3"><strong>Persyaratan Kualifikasi Administrasi/Legalitas</strong>
<table class="table table-sm">
    <tr>
        <td>Memenuhi ketentuan peraturan perundang-undangan untuk menjalankan kegiatan/usaha.</td>
    </tr>
    <tr>
        <td>
            <table class="table table-sm">
                <tr>
                    <td>Izin Usaha</td>
                    <td>71101 Aktivitas Arsitektur</td>
                </tr>
                <tr>
                    <td>SBU</td>
                    <td>AR001 Jasa Arsitektural Bangunan Gedung Hunian dan Non Hunian</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div style="word-wrap: break-word;">Mempunyai status valid keterangan Wajib Pajak berdasarkan hasil Konfirmasi Status Wajib Pajak.<br/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="word-wrap: break-word;">Secara hukum mempunyai kapasitas untuk mengikatkan diri pada Kontrak yang dibuktikan dengan:<br/>
                1) Akta Pendirian Perusahaan dan/atau perubahannya;<br/>
                2) Surat Kuasa (apabila dikuasakan);<br/>
                3) Bukti bahwa yang diberikan kuasa merupakan pegawai tetap (apabila dikuasakan); dan<br/>
                4) Kartu Tanda Penduduk.<br/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="word-wrap: break-word;">Menyetujui Pernyataan Pakta Integritas.<br/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="word-wrap: break-word;">Menyetujui Surat pernyataan Peserta yang berisi:<br/>
                1) yang bersangkutan dan manajemennya tidak dalam pengawasan pengadilan, tidak pailit, dan kegiatan usahanya tidak sedang dihentikan;<br/>
                2) badan usaha tidak sedang dikenakan sanksi daftar hitam;<br/>
                3) yang bertindak untuk dan atas nama badan usaha tidak sedang dalam menjalani sanksi daftar hitam lain;<br/>
                4) keikutsertaan yang bersangkutan tidak menimbulkan pertentangan kepentingan;<br/>
                5) yang bertindak untuk dan atas nama badan usaha tidak sedang dalam menjalani sanksi pidana;<br/>
                6) pimpinan dan pengurus badan usaha bukan sebagai pegawai Kementerian/Lembaga/Perangkat Daerah atau pimpinan dan pengurus badan usaha sebagai pegawai Kementerian/Lembaga/Perangkat Daerah yang sedang mengambil cuti diluar tanggungan Negara;<br/>
                7) pernyataan lain yang menjadi syarat kualifikasi yang tercantum dalam Dokumen Pemilihan;<br/>
                8) data kualifikasi yang diisikan dan dokumen penawaran yang disampaikan benar, dan jika dikemudian hari ditemukan bahwa data/dokumen yang disampaikan tidak benar dan ada pemalsuan maka peserta bersedia dikenakan sanksi administratif, sanksi pencantuman dalam daftar hitam, gugatan secara perdata, dan/atau pelaporan secara pidana kepada pihak berwenang sesuai dengan ketentuan peraturan perundang undangan.<br/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Persyaratan Kualifikasi Lain<br/>
            <div style="word-wrap: break-word;">Memiliki Nomor Induk Berusaha NIB</div>
        </td>
    </tr>
    <tr>
        <td>
            Persyaratan Kualifikasi Lain<br/>
            <div style="word-wrap: break-word;">Mempunyai atau menguasai tempat usaha kantor dengan alamat yang benar, tetap dan jelas berupa milik sendiri atau sewa.</div>
        </td>
    </tr>
    <tr>
        <td>
            Persyaratan Kualifikasi Lain<br/>
            <div style="word-wrap: break-word;">Dalam hal Peserta melakukan Kemitraan harus mempunyai perjanjian Kemitraan</div>
        </td>
    </tr>
</table>
<strong>Persyaratan Kualifikasi Teknis</strong>
<table class="table table-sm">
    <tr>
        <td>
            a)  memiliki pengalaman paling kurang 1 (satu) pekerjaan Jasa Konsultansi Konstruksi dalam kurun waktu 4 (empat) tahun terakhir, baik di lingkungan pemerintah maupun swasta termasuk pengalaman subkontrak.<br/>
        </td>
    </tr>
    <tr>
        <td>
            memiliki pengalaman mengerjakan pekerjaan sejenis dalam waktu 10 (sepuluh) tahun terakhir.<br/>
        </td>
    </tr>
    <tr>
        <td>
            Penyedia dengan kualifikasi usaha kecil yang baru berdiri kurang dari 3 (tiga) tahun dan belum memiliki pengalaman dikecualikan dari ketentuan butir 1) huruf a) sampai dengan huruf c) untuk nilai paket pengadaan sampai dengan paling banyak Rp. 1.000.000.000,00 (satu miliar rupiah).<br/>
        </td>
    </tr>
    <tr>
        <td>
            Syarat Kualifikasi Teknis Lain<br/>
            Memiliki pengalaman mengerjakan pekerjaan sejenis untuk pekerjaan Usaha Kecil berdasarkan subklasifikasi<br/>
        </td>
    </tr>
</table>
</td>
    </tr>
    <tr>
        <th class="bgwarning">Peserta Tender</th>
        <td colspan="3">2 peserta</td>
    </tr>
</table>
</div>

    </div>
</div>
 <div id="footer">
     <div class="container-fluid">
         <div id="footerInfo">
             <div id="infoLeft" class="float-left">
                 <p>Total Pengunjung: 2.466.055</p><span id="realtime"></span> <span>WIB</span> 

             </div>
             <div id="infoRight">
                 <p>&copy; 2006-2024 Lembaga Kebijakan Pengadaan Barang/Jasa Pemerintah (<a href="http://www.lkpp.go.id" target="_blank">LKPP</a>)</p>
                 <p><a href="https://inaproc.id/aplikasi#spse45" target="_blank">Aplikasi SPSE v4.5u20240614</a></p>
             </div>
         </div>
     </div>
 </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha256-QjIXq/h3XOotww+h/j4cXiTcNZqA8cN60pqGCUv+gdE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap4-dialog@4.1.0/dist/js/bootstrap-dialog.min.js" integrity="sha384-1bnSbxclaEain3RMYjvqK0nYtZKyymGxwUbB6iGiFzw32KWToRchOZRyaXdzOM/4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/eproc4/public/js/jquery.jclock.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" integrity="sha384-6UVI3atWyL/qZbDIJb7HW8PyHhFNMiX5rYNY2gAYcaYJjYk5cNIQShSQPBleGMYu" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js" integrity="sha384-WEvc66KzYFIc5/F13GEIqS24g+Ory76gugdi0g7lni4KweX08jMG4Bjsj51RTxig" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.net@1.13.5/js/jquery.dataTables.min.js" integrity="sha256-gg7eMj/+Pgc2YxkBK4neig9hE5MGpZGUL/QWlGXHKSI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.13.5/js/dataTables.bootstrap4.min.js" integrity="sha256-2O0ySUwCeEft2WB8y/wHQgL+Rgk5twN/A+H4PM3qYmY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/eproc4/public/js/datatables.config.js" ></script>
    <script type="text/javascript" src="/eproc4/public/js/common.js"></script>
    
        <script type="text/javascript">
        $(document).ready(function(){
            $(".tip-top").tooltip({
                placement : 'top'
            });
            $(".tip-right").tooltip({
                placement : 'right'
            });
            $(".tip-bottom").tooltip({
                placement : 'bottom'
            });
            $(".tip-left").tooltip({
                placement : 'left'
            });


                $(".tooltip-examples a").tooltip({

                title : 'It works in absence of title attribute.'

            });
        });
        $.ajax({url: "/eproc4/json/getservertime", cache: false, success: function (data) {
                $('#realtime').jclock({
                    format: '%d %B %Y %H:%M',
                    seedTime: parseInt(data),
                    utc: true,
                    utc_offset: 7 });
            }
        });

        function closeWindow(cmd){
            if (cmd=='quit')
            {
               open(location, '_self').close();
            }
            return false;
        }
</script>
</body>
</html>
