--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1
-- Dumped by pg_dump version 17.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;



--
-- Name: nhn_daftar_hitams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--




--
-- Name: nhn_failed_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);



--
-- Name: nhn_failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--




--
-- Name: nhn_inboxes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_inboxes (
    id bigint NOT NULL,
    status boolean DEFAULT false NOT NULL,
    pesan character varying(255) NOT NULL,
    user_id integer NOT NULL,
    channel character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_inboxes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_inboxes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_inboxes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--




--
-- Name: nhn_job_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);



--
-- Name: nhn_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);



--
-- Name: nhn_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_jobs_id_seq OWNED BY public.nhn_jobs.id;


--
-- Name: nhn_klpds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_klpds (
    id bigint NOT NULL,
    jenis_klpd character varying(255) NOT NULL,
    kd_kabupaten integer NOT NULL,
    kd_klpd character varying(255) NOT NULL,
    kd_provinsi integer NOT NULL,
    nama_klpd character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_klpds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_klpds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_klpds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_klpds_id_seq OWNED BY public.nhn_klpds.id;


--
-- Name: nhn_komisis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_komisis (
    id bigint NOT NULL,
    state boolean DEFAULT false NOT NULL,
    id_upline bigint NOT NULL,
    id_downline bigint NOT NULL,
    nominal double precision NOT NULL,
    pay_date timestamp(0) without time zone NOT NULL,
    keterangan character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_komisis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_komisis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_komisis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_komisis_id_seq OWNED BY public.nhn_komisis.id;


--
-- Name: nhn_konfirmasi_pembayarans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_konfirmasi_pembayarans (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    status boolean NOT NULL,
    pemilik character varying(255) NOT NULL,
    nominal double precision NOT NULL,
    tanggal timestamp(0) without time zone NOT NULL,
    bukti_transfer character varying(255) NOT NULL,
    catatan character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_konfirmasi_pembayarans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_konfirmasi_pembayarans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;




--
-- Name: nhn_konfirmasi_pembayarans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_konfirmasi_pembayarans_id_seq OWNED BY public.nhn_konfirmasi_pembayarans.id;


--
-- Name: nhn_laporan_keuangans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_laporan_keuangans (
    id bigint NOT NULL,
    tanggal timestamp(0) without time zone NOT NULL,
    user_id bigint NOT NULL,
    keterangan character varying(255) NOT NULL,
    pemasukan double precision DEFAULT '0'::double precision NOT NULL,
    pengeluaran double precision DEFAULT '0'::double precision NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_laporan_keuangans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_laporan_keuangans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_laporan_keuangans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_laporan_keuangans_id_seq OWNED BY public.nhn_laporan_keuangans.id;


--
-- Name: nhn_lelangs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_lelangs (
    id bigint NOT NULL,
    kd_rup character varying(255) NOT NULL,
    kd_klpd character varying(255) NOT NULL,
    kd_satker character varying(255) NOT NULL,
    nama_paket character varying(255) NOT NULL,
    pagu double precision NOT NULL,
    metode_pemilihan character varying(255) NOT NULL,
    sumber_dana character varying(255) NOT NULL,
    waktu_pemilihan character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: nhn_lelangs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_lelangs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_lelangs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_lelangs_id_seq OWNED BY public.nhn_lelangs.id;


--
-- Name: nhn_lpses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_lpses (
    id bigint NOT NULL,
    state boolean DEFAULT true NOT NULL,
    nama_lpse character varying(255) NOT NULL,
    link character varying(255) NOT NULL,
    jumlah_paket integer DEFAULT 0 NOT NULL,
    jumlah_pagu double precision DEFAULT '0'::double precision NOT NULL,
    slug character varying(255),
    description character varying(255),
    logo character varying(255),
    scrape boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: nhn_lpses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_lpses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_lpses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_lpses_id_seq OWNED BY public.nhn_lpses.id;


--
-- Name: nhn_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);

--
-- Name: nhn_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

--
-- Name: nhn_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_migrations_id_seq OWNED BY public.nhn_migrations.id;


--
-- Name: nhn_outboxes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_outboxes (
    id bigint NOT NULL,
    user_id integer,
    tender_id bigint DEFAULT '0'::bigint,
    pesan text,
    channel character varying(255),
    status smallint DEFAULT '0'::smallint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    state boolean DEFAULT false NOT NULL
);

--
-- Name: nhn_outboxes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_outboxes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_outboxes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_outboxes_id_seq OWNED BY public.nhn_outboxes.id;


--
-- Name: nhn_password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);



--
-- Name: nhn_personal_access_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: nhn_personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_personal_access_tokens_id_seq OWNED BY public.nhn_personal_access_tokens.id;


--
-- Name: nhn_pin_pakets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_pin_pakets (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    proyek_id bigint NOT NULL,
    lpse_id bigint NOT NULL,
    nama_paket character varying(255) NOT NULL,
    tipe character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);



--
-- Name: nhn_pin_pakets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_pin_pakets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_pin_pakets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_pin_pakets_id_seq OWNED BY public.nhn_pin_pakets.id;


--
-- Name: nhn_satkers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_satkers (
    id bigint NOT NULL,
    kd_satker character varying(255) NOT NULL,
    kd_klpd character varying(255) NOT NULL,
    nama_satker character varying(255) NOT NULL,
    penyedia_paket integer DEFAULT 0 NOT NULL,
    penyedia_pagu integer DEFAULT 0 NOT NULL,
    swakelola_paket integer DEFAULT 0 NOT NULL,
    swakelola_pagu integer DEFAULT 0 NOT NULL,
    penyedia_dalam_swakelola_paket integer DEFAULT 0 NOT NULL,
    penyedia_dalam_swakelola_pagu integer DEFAULT 0 NOT NULL,
    total_paket integer DEFAULT 0 NOT NULL,
    total_pagu integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    lelang boolean DEFAULT false NOT NULL,
    swakelola boolean DEFAULT false NOT NULL
);


--
-- Name: nhn_satkers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_satkers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_satkers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_satkers_id_seq OWNED BY public.nhn_satkers.id;


--
-- Name: nhn_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


--
-- Name: nhn_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_settings (
    id bigint NOT NULL,
    key character varying(255) NOT NULL,
    value text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: nhn_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_settings_id_seq OWNED BY public.nhn_settings.id;


--
-- Name: nhn_swakelolas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_swakelolas (
    id bigint NOT NULL,
    kd_rup character varying(255) NOT NULL,
    kd_klpd character varying(255) NOT NULL,
    kd_satker integer NOT NULL,
    nama_kegiatan text NOT NULL,
    nama_paket text NOT NULL,
    pagu double precision NOT NULL,
    sumber_dana character varying(255) NOT NULL,
    waktu_pemilihan character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: nhn_swakelolas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_swakelolas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_swakelolas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_swakelolas_id_seq OWNED BY public.nhn_swakelolas.id;


--
-- Name: nhn_tenders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_tenders (
    id bigint NOT NULL,
    tender_id bigint NOT NULL,
    lpse_id bigint NOT NULL,
    lpse character varying(255),
    status_tender character varying(255),
    nama_paket character varying(255),
    slug character varying(255),
    pagu double precision,
    hps double precision,
    tgl_dibuat timestamp(0) without time zone,
    tgl_tayang timestamp(0) without time zone,
    kategori character varying(255),
    metode_pemilihan character varying(255),
    metode_pengadaan character varying(255),
    metode_evaluasi character varying(255),
    cara_pembayaran character varying(255),
    jenis_penetapan_pemenang character varying(255),
    instansi_dan_satker jsonb,
    apakah_paket_konsolidasi character varying(255),
    daftar_paket_konsolidasi text,
    anggaran jsonb,
    lokasi_paket jsonb,
    jumlah_pendaftar integer,
    jumlah_penawar integer,
    jumlah_kirim_kualifikasi integer,
    durasi_tender integer,
    versi_spse_paket character varying(255),
    jadwal_pengumuman text,
    tanggal_awal_pengumuman timestamp(0) without time zone,
    tanggal_akhir_pengumuman timestamp(0) without time zone,
    jadwal_penawaran text,
    tanggal_awal_penawaran timestamp(0) without time zone,
    tanggal_akhir_penawaran timestamp(0) without time zone,
    tahapan character varying(255),
    ijin character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);

--
-- Name: nhn_tenders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_tenders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

--
-- Name: nhn_tenders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_tenders_id_seq OWNED BY public.nhn_tenders.id;


--
-- Name: nhn_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_user_groups (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: nhn_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_user_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_user_groups_id_seq OWNED BY public.nhn_user_groups.id;


--
-- Name: nhn_user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_user_profiles (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    nama character varying(255),
    perusahaan character varying(255),
    kbli character varying(255),
    kata_kunci character varying(255),
    whatsapp character varying(255),
    notif_whatsapp boolean DEFAULT false NOT NULL,
    telegram character varying(255),
    notif_telegram boolean DEFAULT false NOT NULL,
    notif_email boolean DEFAULT false NOT NULL,
    image character varying(255),
    masa_berlaku timestamp(0) without time zone DEFAULT '2024-11-15 05:26:59'::timestamp without time zone NOT NULL,
    upline character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    state boolean DEFAULT false NOT NULL
);


--
-- Name: nhn_user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_user_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_user_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_user_profiles_id_seq OWNED BY public.nhn_user_profiles.id;


--
-- Name: nhn_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nhn_users (
    id bigint NOT NULL,
    state boolean DEFAULT true NOT NULL,
    name character varying(255) NOT NULL,
    username character varying(255),
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    is_admin boolean DEFAULT false NOT NULL,
    group_id bigint DEFAULT '2'::bigint NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);

--
-- Name: nhn_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nhn_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: nhn_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nhn_users_id_seq OWNED BY public.nhn_users.id;


--
-- Name: nhn_daftar_hitams id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_daftar_hitams ALTER COLUMN id SET DEFAULT nextval('public.nhn_daftar_hitams_id_seq'::regclass);


--
-- Name: nhn_failed_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.nhn_failed_jobs_id_seq'::regclass);


--
-- Name: nhn_inboxes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_inboxes ALTER COLUMN id SET DEFAULT nextval('public.nhn_inboxes_id_seq'::regclass);


--
-- Name: nhn_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_jobs ALTER COLUMN id SET DEFAULT nextval('public.nhn_jobs_id_seq'::regclass);


--
-- Name: nhn_klpds id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_klpds ALTER COLUMN id SET DEFAULT nextval('public.nhn_klpds_id_seq'::regclass);


--
-- Name: nhn_komisis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_komisis ALTER COLUMN id SET DEFAULT nextval('public.nhn_komisis_id_seq'::regclass);


--
-- Name: nhn_konfirmasi_pembayarans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_konfirmasi_pembayarans ALTER COLUMN id SET DEFAULT nextval('public.nhn_konfirmasi_pembayarans_id_seq'::regclass);


--
-- Name: nhn_laporan_keuangans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_laporan_keuangans ALTER COLUMN id SET DEFAULT nextval('public.nhn_laporan_keuangans_id_seq'::regclass);


--
-- Name: nhn_lelangs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_lelangs ALTER COLUMN id SET DEFAULT nextval('public.nhn_lelangs_id_seq'::regclass);


--
-- Name: nhn_lpses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_lpses ALTER COLUMN id SET DEFAULT nextval('public.nhn_lpses_id_seq'::regclass);


--
-- Name: nhn_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_migrations ALTER COLUMN id SET DEFAULT nextval('public.nhn_migrations_id_seq'::regclass);


--
-- Name: nhn_outboxes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_outboxes ALTER COLUMN id SET DEFAULT nextval('public.nhn_outboxes_id_seq'::regclass);


--
-- Name: nhn_personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.nhn_personal_access_tokens_id_seq'::regclass);


--
-- Name: nhn_pin_pakets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_pin_pakets ALTER COLUMN id SET DEFAULT nextval('public.nhn_pin_pakets_id_seq'::regclass);


--
-- Name: nhn_satkers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_satkers ALTER COLUMN id SET DEFAULT nextval('public.nhn_satkers_id_seq'::regclass);


--
-- Name: nhn_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_settings ALTER COLUMN id SET DEFAULT nextval('public.nhn_settings_id_seq'::regclass);


--
-- Name: nhn_swakelolas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_swakelolas ALTER COLUMN id SET DEFAULT nextval('public.nhn_swakelolas_id_seq'::regclass);


--
-- Name: nhn_tenders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_tenders ALTER COLUMN id SET DEFAULT nextval('public.nhn_tenders_id_seq'::regclass);


--
-- Name: nhn_user_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_user_groups ALTER COLUMN id SET DEFAULT nextval('public.nhn_user_groups_id_seq'::regclass);


--
-- Name: nhn_user_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_user_profiles ALTER COLUMN id SET DEFAULT nextval('public.nhn_user_profiles_id_seq'::regclass);


--
-- Name: nhn_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_users ALTER COLUMN id SET DEFAULT nextval('public.nhn_users_id_seq'::regclass);


--
-- Data for Name: nhn_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--


--
-- Data for Name: nhn_cache_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_cache_locks (key, owner, expiration) FROM stdin;



--
-- Data for Name: nhn_daftar_hitams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_daftar_hitams (id, tahun_anggaran, kd_klpd, nama_klpd, kd_satker, nama_satker, lpse_id, kd_penyedia, nama_penyedia, npwp_penyedia, alamat_penyedia, alamat_tambahan_penyedia, kabupaten_penyedia, provinsi_penyedia, jenis_paket, kd_paket, no_sk_blacklist, tgl_tayang_blacklist, tgl_berlaku_dari, tgl_berlaku_sampai, jenis_pelanggaran, deskripsi_pelanggaran, no_sk_pencabutan, tgl_sk_pencabutan, nama_koresponden, email_koresponden, status, created_at, updated_at) FROM stdin;



--
-- Data for Name: nhn_failed_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;



--
-- Data for Name: nhn_inboxes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_inboxes (id, status, pesan, user_id, channel, created_at, updated_at) FROM stdin;



--
-- Data for Name: nhn_job_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;



--
-- Data for Name: nhn_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;



--
-- Data for Name: nhn_klpds; Type: TABLE DATA; Schema: public; Owner: postgres
--




--
-- Data for Name: nhn_komisis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_komisis (id, state, id_upline, id_downline, nominal, pay_date, keterangan, created_at, updated_at) FROM stdin;



--
-- Data for Name: nhn_konfirmasi_pembayarans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_konfirmasi_pembayarans (id, user_id, status, pemilik, nominal, tanggal, bukti_transfer, catatan, created_at, updated_at) FROM stdin;



--
-- Data for Name: nhn_laporan_keuangans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nhn_laporan_keuangans (id, tanggal, user_id, keterangan, pemasukan, pengeluaran, created_at, updated_at) FROM stdin;





--
-- Data for Name: nhn_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

-- COPY public.nhn_user_groups (id, name, created_at, updated_at) FROM stdin;
-- 6	Super Admin	2024-11-18 05:45:15	2024-11-18 05:45:15
-- 7	Registered	2024-11-18 05:45:15	2024-11-18 05:45:15
-- 8	Personal	2024-11-18 05:45:15	2024-11-18 05:45:15
-- 9	Corporate	2024-11-18 05:45:15	2024-11-18 05:45:15
-- 10	Special	2024-11-18 05:45:15	2024-11-18 05:45:15



--
-- Data for Name: nhn_user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

-- COPY public.nhn_user_profiles (id, user_id, nama, perusahaan, kbli, kata_kunci, whatsapp, notif_whatsapp, telegram, notif_telegram, notif_email, image, masa_berlaku, upline, created_at, updated_at, state) FROM stdin;
-- 1	726	Nanang Hermawan	PT Geoland Mapping Technology	731120	batas wilayah	087821996965	t	279446586	t	t		2024-11-18 05:45:15		2024-11-18 05:45:15	2024-11-18 05:45:15	t



--
-- Data for Name: nhn_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

-- COPY public.nhn_users (id, state, name, username, email, email_verified_at, password, is_admin, group_id, remember_token, created_at, updated_at) FROM stdin;
-- 726	t	Nanang Hermawan	adminlpse	admin@gmail.com	2024-11-18 00:00:00	$2y$12$jR.Gx7xvPT3g5CDeMvdaXeOqn5az2rPWQS6YOZIX/3gxSZYwGFQby	t	1	rxGzQ1u8Ft	2024-11-18 05:45:15	2024-11-18 05:45:15



--
-- Name: nhn_daftar_hitams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_daftar_hitams_id_seq', 1, false);


--
-- Name: nhn_failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_failed_jobs_id_seq', 1, false);


--
-- Name: nhn_inboxes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_inboxes_id_seq', 1, false);


--
-- Name: nhn_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_jobs_id_seq', 1, false);


--
-- Name: nhn_klpds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_klpds_id_seq', 2212, true);


--
-- Name: nhn_komisis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_komisis_id_seq', 1, false);


--
-- Name: nhn_konfirmasi_pembayarans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_konfirmasi_pembayarans_id_seq', 1, false);


--
-- Name: nhn_laporan_keuangans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_laporan_keuangans_id_seq', 1, false);


--
-- Name: nhn_lelangs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_lelangs_id_seq', 10934, true);


--
-- Name: nhn_lpses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_lpses_id_seq', 1, false);


--
-- Name: nhn_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_migrations_id_seq', 20, true);


--
-- Name: nhn_outboxes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_outboxes_id_seq', 1, false);


--
-- Name: nhn_personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_personal_access_tokens_id_seq', 1, false);


--
-- Name: nhn_pin_pakets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_pin_pakets_id_seq', 1, false);


--
-- Name: nhn_satkers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_satkers_id_seq', 66756, true);


--
-- Name: nhn_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_settings_id_seq', 75, true);


--
-- Name: nhn_swakelolas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_swakelolas_id_seq', 32952, true);


--
-- Name: nhn_tenders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_tenders_id_seq', 77921, true);


--
-- Name: nhn_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_user_groups_id_seq', 10, true);


--
-- Name: nhn_user_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_user_profiles_id_seq', 1, true);


--
-- Name: nhn_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nhn_users_id_seq', 3, true);


--
-- Name: nhn_cache_locks nhn_cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_cache_locks
    ADD CONSTRAINT nhn_cache_locks_pkey PRIMARY KEY (key);


--
-- Name: nhn_cache nhn_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_cache
    ADD CONSTRAINT nhn_cache_pkey PRIMARY KEY (key);


--
-- Name: nhn_daftar_hitams nhn_daftar_hitams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_daftar_hitams
    ADD CONSTRAINT nhn_daftar_hitams_pkey PRIMARY KEY (id);


--
-- Name: nhn_failed_jobs nhn_failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_failed_jobs
    ADD CONSTRAINT nhn_failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: nhn_failed_jobs nhn_failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_failed_jobs
    ADD CONSTRAINT nhn_failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: nhn_inboxes nhn_inboxes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_inboxes
    ADD CONSTRAINT nhn_inboxes_pkey PRIMARY KEY (id);


--
-- Name: nhn_job_batches nhn_job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_job_batches
    ADD CONSTRAINT nhn_job_batches_pkey PRIMARY KEY (id);


--
-- Name: nhn_jobs nhn_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_jobs
    ADD CONSTRAINT nhn_jobs_pkey PRIMARY KEY (id);


--
-- Name: nhn_klpds nhn_klpds_kd_klpd_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_klpds
    ADD CONSTRAINT nhn_klpds_kd_klpd_unique UNIQUE (kd_klpd);


--
-- Name: nhn_klpds nhn_klpds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_klpds
    ADD CONSTRAINT nhn_klpds_pkey PRIMARY KEY (id);


--
-- Name: nhn_komisis nhn_komisis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_komisis
    ADD CONSTRAINT nhn_komisis_pkey PRIMARY KEY (id);


--
-- Name: nhn_konfirmasi_pembayarans nhn_konfirmasi_pembayarans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_konfirmasi_pembayarans
    ADD CONSTRAINT nhn_konfirmasi_pembayarans_pkey PRIMARY KEY (id);


--
-- Name: nhn_laporan_keuangans nhn_laporan_keuangans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_laporan_keuangans
    ADD CONSTRAINT nhn_laporan_keuangans_pkey PRIMARY KEY (id);


--
-- Name: nhn_lelangs nhn_lelangs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_lelangs
    ADD CONSTRAINT nhn_lelangs_pkey PRIMARY KEY (id);


--
-- Name: nhn_lpses nhn_lpses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_lpses
    ADD CONSTRAINT nhn_lpses_pkey PRIMARY KEY (id);


--
-- Name: nhn_lpses nhn_lpses_slug_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_lpses
    ADD CONSTRAINT nhn_lpses_slug_unique UNIQUE (slug);


--
-- Name: nhn_migrations nhn_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_migrations
    ADD CONSTRAINT nhn_migrations_pkey PRIMARY KEY (id);


--
-- Name: nhn_outboxes nhn_outboxes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_outboxes
    ADD CONSTRAINT nhn_outboxes_pkey PRIMARY KEY (id);


--
-- Name: nhn_password_reset_tokens nhn_password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_password_reset_tokens
    ADD CONSTRAINT nhn_password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: nhn_personal_access_tokens nhn_personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_personal_access_tokens
    ADD CONSTRAINT nhn_personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: nhn_personal_access_tokens nhn_personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_personal_access_tokens
    ADD CONSTRAINT nhn_personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: nhn_pin_pakets nhn_pin_pakets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_pin_pakets
    ADD CONSTRAINT nhn_pin_pakets_pkey PRIMARY KEY (id);


--
-- Name: nhn_satkers nhn_satkers_kd_satker_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_satkers
    ADD CONSTRAINT nhn_satkers_kd_satker_unique UNIQUE (kd_satker);


--
-- Name: nhn_satkers nhn_satkers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_satkers
    ADD CONSTRAINT nhn_satkers_pkey PRIMARY KEY (id);


--
-- Name: nhn_sessions nhn_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_sessions
    ADD CONSTRAINT nhn_sessions_pkey PRIMARY KEY (id);


--
-- Name: nhn_settings nhn_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_settings
    ADD CONSTRAINT nhn_settings_pkey PRIMARY KEY (id);


--
-- Name: nhn_swakelolas nhn_swakelolas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_swakelolas
    ADD CONSTRAINT nhn_swakelolas_pkey PRIMARY KEY (id);


--
-- Name: nhn_tenders nhn_tenders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_tenders
    ADD CONSTRAINT nhn_tenders_pkey PRIMARY KEY (id);


--
-- Name: nhn_user_groups nhn_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_user_groups
    ADD CONSTRAINT nhn_user_groups_pkey PRIMARY KEY (id);


--
-- Name: nhn_user_profiles nhn_user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_user_profiles
    ADD CONSTRAINT nhn_user_profiles_pkey PRIMARY KEY (id);


--
-- Name: nhn_user_profiles nhn_user_profiles_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_user_profiles
    ADD CONSTRAINT nhn_user_profiles_user_id_unique UNIQUE (user_id);


--
-- Name: nhn_users nhn_users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_users
    ADD CONSTRAINT nhn_users_email_unique UNIQUE (email);


--
-- Name: nhn_users nhn_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nhn_users
    ADD CONSTRAINT nhn_users_pkey PRIMARY KEY (id);


--
-- Name: nhn_jobs_queue_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nhn_jobs_queue_index ON public.nhn_jobs USING btree (queue);


--
-- Name: nhn_personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nhn_personal_access_tokens_tokenable_type_tokenable_id_index ON public.nhn_personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: nhn_sessions_last_activity_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nhn_sessions_last_activity_index ON public.nhn_sessions USING btree (last_activity);


--
-- Name: nhn_sessions_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX nhn_sessions_user_id_index ON public.nhn_sessions USING btree (user_id);


--
-- PostgreSQL database dump complete
--

